node_modules/
vendor/
backend/vendor/
node_modules/
.env
backend/.env
backend/storage/firebase/
__pycache__/
backend/storage/firebase/firebase_credentials.jsonai_model/firebase_key.json
ai_model/firebase_key.json
backend/storage/firebase.json
firebase.json.backup
