/* ===== NAVBAR ===== */

.hero-navbar{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:130px;
  padding:0 30px;
margin-top: -35px;
  display:flex;
  align-items:center;
  justify-content:space-between;

  z-index:9999;
}

/* ===== LOGO ===== */

.logo img{
  height:140px;
  width:auto;
}

/* ===== LINKS ===== */

.nav-links{
  display:flex !important;
  align-items:center;
  gap:28px;
  visibility:visible;
  opacity:1;
}

.nav-links a{
  color:#fff;
  text-decoration:none;
  font-size:17px;
  font-weight:500;
  white-space:nowrap;
}

.nav-links a:hover{
  color:#7fb3ff;
}

/* ===== TABLET ===== */

@media (max-width:900px){

  .hero-navbar{
    height:120px;
  }

  .logo img{
    height:120px;
  }

  .nav-links{
    gap:20px;
  }

}

/* ===== MOBILE ===== */

@media (max-width:768px){

  .hero-navbar{
    height:110px;
    padding:0 15px;
  }

  .logo img{
    height:105px;
  }

  .nav-links{
    gap:14px;
  }

  .nav-links a{
    font-size:14px;
  }

}

/* ===== SMALL MOBILE ===== */

@media (max-width:480px){

  .hero-navbar{
    height:100px;
  }

  .logo img{
    height:95px;
  }

  .nav-links{
    gap:10px;
  }

  .nav-links a{
    font-size:13px;
  }

}


/* ===== HERO TEXT FIX ===== */

.hero-content{
  text-align:center;
  color:white;
  width:90%;
  max-width:500px;
  margin:auto;
}

.hero-content h1{
  margin-bottom:8px;
}

.hero-content p{
  line-height:1.3;   /* يقلل المسافة بين السطور */
  font-size:15px;
  margin-bottom:15px;
}


/* ===== HERO MOBILE ===== */

@media (max-width:480px){

  .hero-content h1{
    font-size:32px;
  }

  .hero-content p{
    font-size:14px;
    line-height:1.25;
  }

}